.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 7px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 7px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-25al{font-size:10px;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}

.col1 { background-color: lightblue; }

.col2{ background-color: darkblue; color: white; }

.col3 { background-color: red; color: white; }

.col4 { background-color: purple; color: white; }

.col5 { background-color: yellow; }

.col6 { background-color: orange; }



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f2f2f2;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-right .5s;
    padding-right: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.whole {
  display: inline-block;
  height: 500px;
  width: 500px;
  background-color: orange;
/*   padding: 5px; */
}

#left {
  width: 10%;
  height: 100%;
  background-color: purple;
  display: inline-block;
}

#right {

  width: 90%;
  height: 100%;
  background-color: blue;
  display: inline-block;
  float: right;
  color: white;
}

.arrow-button {
  width: 10%;
  height: 100%;
  background-color: purple;
  display: inline-block;
  margin-right: -500px;
  /*float: left;*/
  /*overflow: hidden;*/
}

#arrow {
  width: 25px;
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}

.side-menu-content {
  /*border: 5px solid black;*/
  width: 500px;
  height: 100%;
  background-color: blue;
  display: inline;
  float: right;
  color: white;
}

#detail, #detail1, #detail2, #detail3, #detail4 {
  display: none;
}
